* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

h1, h2 {
    text-align: center;
    margin: 20px;
}

/* Color + ... */

h1, h2, a, p {
    color: white;
}

/* Header */

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
    padding: 10px;
}

nav > a {
    text-decoration: none;
    text-transform: uppercase;
}

/* Section */

section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

section img {
    width: 40%;
    margin: 20px;
}

section p {
    margin: 20px;
}

/* site-Section */

.site-Section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.site-Section img {
    width: 40%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.site-Section img:hover {
    transform: scale(1.2);
}

.site-Section a {
    text-decoration: none;
    font-size: 20px;
    width: 20%;
    text-align: center;
}

/* Main */

main {
    margin-bottom: 50px;
}