* {
    margin: 0;
    padding: 0;
}

/* Mobile */
@media screen and (max-width: 500px) {
    
    /* Header */

    header {
        background-color: green;
        display: flex;
    }

    header img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(214deg) brightness(107%) contrast(101%);
        height: 30px;
    }

    #topnavLeft {
        display: flex;
    }

    /* Dropdown Menu */

    .dropdownMenu {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 501px) {
    
}

/* Desktop */
@media screen and (min-width: 992px) {
    
}